include ../mixins
doctype
html( lang="en" )
    +header
 
    body(style="padding-bottom:10rem;")
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        
        .container
            +nav("Windsurfing Portal", "dropdown_menu")
                +nav_item( "/advert/show", "active") Adverts
                +nav_item( "/about" ) About
                +nav_item( "/contact" ) Contact
                +nav_item( "/signin" ) Signin
                .form.navbar-form.navbar-right(role='search')
                    .form-group
                        input.form-control(type='text', placeholder='Search adverts')
                    button.btn.btn-default(type='submit') Submit
            .row
                .jumbotron.col-sm-6.col-md-4.col-md-offset-4
                    if errors && errors.length > 0
                        ul.alert.alert-danger
                            each e in errors
                                li #{e}
                    form(role='form', action='/auth/local', method='post')
                        h2.form-signin-heading Please sign in
                        .form-group
                            label(for='email') Email address
                            input.form-control(name='email', id='email', type='email', placeholder='Email address', required='', autofocus='')
                        .form-group
                            label(for='password') Password
                            input.form-control(name='password', id='password', type='password', placeholder='Password', required='')
                        .form-group
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
                        input(type='hidden', name='_csrf', value='#{_csrf}')
                    a(href='/register', role='button') Create new account
                    if Object.keys(providers).length
                        h4 You can also use one of these...
                        each key in Object.keys(providers)
                            a(href='/auth/#{providers[key].slug}', role='button') #{providers[key].name}    
