include ../mixins
doctype
html( lang="en" )
    +header
 
    body(style="padding-bottom:10rem;")
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        
        .container
            +nav("Windsurfing Portal", "dropdown_menu")
                +nav_item( "/advert/show", "active") Adverts
                +nav_item( "/about" ) About
                +nav_item( "/contact" ) Contact
                +nav_item( "/signin" ) Signin
                .form.navbar-form.navbar-right(role='search')
                    .form-group
                        input.form-control(type='text', placeholder='Search adverts')
                    button.btn.btn-default(type='submit') Submit
            .row
                .jumbotron
                    p
                        if errors 
                            ul.alert.alert-success
                                each e in errors
                                    li #{e}
                        form.form-signin(role='form', action='/auth/local/register', method='post')
                            h2.form-signin-heading Register
                            input.form-control(name='username', type='text', placeholder='Username', required='true', autofocus='true')
                            input.form-control(name='identifier', type='email', placeholder='Email address', required='', autofocus='')
                            input.form-control(name='password', type='password', placeholder='Password', required='')
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
                            input(type='hidden', name='_csrf', value='#{_csrf}')


