include mixins
doctype
html( lang="en" )
    +header
 
    body(style="padding-bottom:10rem;")
        .container
            +nav("Windsurfing Portal", "dropdown_menu")
                +nav_item( "/advert/show") Adverts
                +nav_item( "/about", "active") About
                +nav_item( "/contact") Contact
                +nav_item( "/login") Signin
                +search
            .row