include mixins
doctype
html( lang="en" )
    head
        title Baking Bootstrap Snippets with Jade
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
            form.form-signin(role='form')
                h2.form-signin-heading Please sign in
                input.form-control(type='email', placeholder='Email address', required='', autofocus='')
                input.form-control(type='password', placeholder='Password', required='')
                label.checkbox
                  input(type='checkbox', value='remember-me')
                  |  Remember me
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in