include ../mixins
doctype
html( lang="en" )
    +header
 
    body(style="padding-bottom:10rem;")
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        .container
            +nav("Windsurfing Portal", "dropdown_menu")
                +nav_item( "/advert/show" ) Adverts
                +nav_item( "/about" ) About
                +nav_item( "/contact" ) Contact
                +nav_item( "/signin" ) Signin
                +nav_item_dropdown( "#" )( label="Dropdown")
                    +nav_item( "#" ) Action
                    +nav_item( "#" ) Another action
                    +nav_item( "#" ) Something else here
                    +nav_divider
                    +nav_header Nav header
                    +nav_item( "#" ) Separated link
                    +nav_item( "#" ) One more separated link
            .row
                .jumbotron
                    p
                        if flash && flash.err
                                    ul.alert.alert-success
                                        each e in Object.keys(flash.err.invalidAttributes)
                                            li Chyba pri spracovani #{e}
                        form.form-signin(role='form', action= '/user/create', method='post', enctype='multipart/form-data')
                            h2.form-signin-heading Create user account
                            .form-group
                                label(for='nickname') Nickname
                                input#nickname.form-control(type='text', placeholder='Nickname', required='true', autofocus='', name='nickname')
                            .form-group
                                label(for='email') Email
                                input#email.form-control(type='email', placeholder='Email address', required='true', autofocus='', name='email')
                                p.help-block Email wont be shown to other users
                            .form-group
                                label(for='password') Password
                                input#password.form-control(type='password', placeholder='Password', required='', name='password')
                                label(for='passwordConfirmation') Password confirmation
                                input#passwordConfirmation.form-control(type='password', placeholder='Password confirmation', required='', name='passwordConfirmation')
                            .form-group
                                label(for='profileImage') Image file
                                input#imageFile(type='file', name='profileImage')
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Create
                            input(type='hidden', name='_csrf', value='#{_csrf}')